.overlay{
position: absolute;
background-color: rgba(90, 90, 90, 0.7);
top: 0;
left: 0;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.wrapper{
    margin-top: 3rem;
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: #ffffff;
    font-family: sans-serif; 

}
.btns{
    display: flex;
    gap: 1.2rem;
}
.para{
    font-size: 1.6rem;   
    color: gray;
}